name: Sync tools and sync workflows and create catalogue

on:
  workflow_dispatch:
  pull_request_review:
    types:
      - "submitted"
    branches:
     - main
    paths:
      # Workflow change
      - "**/*.cwl"
      # GH change
      - ".github/workflows/sync-tools_and_sync-workflows.yml"
      - ".github/scripts/run_sync-tools_and_sync-workflows.sh"
      # Also for changes in the catalogue script
      - ".github/create_catalogue.sh"
      - "src/install.sh"
      # Config files (say a merge conflict is resolved)
      - "config/project.yaml"
      - "config.tool.yaml"
      - "config/workflow.yaml"
      - "config/run.yaml"
      # Also for catalogue creation script changes
      - "src/subcommands/github_actions/create_catalogue.py"
      - "src/subcommands/github_actions/create_markdown_file.py"
      - "src/subcommands/sync/sync_github_actions.py"

jobs:
  sync_tools_and_workflows_and_create_catalogue:
    if: ${{ github.event.review.state == 'approved' || github.event_name == 'workflow_dispatch' }}
    name: sync-tools and sync-workflows and create-catalogue
    concurrency: git_commits
    runs-on: ubuntu-latest
    steps:
      # Standard checkout step
      - name: Checkout code
        id: git_checkout
        uses: actions/checkout@v2
      # Get git commit ID
      - name: Get git commit ID
        id: get_git_commit_id
        run: echo "::set-output name=git_commit_id::$(git log --format="%H" -n1 | cut -c1-7)"
      # Sync tools and workflows
      - name: sync-tools and sync-workflows
        run: |
          docker run \
            --rm \
            --user "$(id -u):$(id -g)" \
            --volume "$PWD:$PWD" \
            --workdir "$PWD" \
            --env USER="$(id -u)" \
            --env GIT_COMMIT_ID="${{ steps.get_git_commit_id.outputs.git_commit_id }}" \
            --env SECRETS_JSON="${{ secrets.ICA_ACCESS_TOKENS_JSON }}" \
            --env ICA_BASE_URL="${{ secrets.ICA_BASE_URL }}" \
            quay.io/umccr/cwl-ica:0.9.3 \
              bash ".github/scripts/run_sync-tools_and_sync-workflows.sh"
      # Create Catalogue
      - name: create catalogue
        run: |
          docker run \
            --rm \
            --user "$(id -u):$(id -g)" \
            --volume  "$PWD:$PWD" \
            --workdir "$PWD" \
            --env USER="$(id -nu)" \
            --env GITHUB_SERVER_URL="${GITHUB_SERVER_URL}" \
            --env GITHUB_REPOSITORY="${GITHUB_REPOSITORY}" \
            quay.io/umccr/cwl-ica:0.9.3 \
              bash ".github/scripts/create_catalogue.sh"
      # Commit config files
      - id: commit_catalogue_files
        name: Commit catalogue files
        uses: EndBug/add-and-commit@v7.2.1
        with:
          add: "[ 'config/', 'cwl-ica-catalogue.md', '.github/catalogue/' ]"
          default_author: github_actions
          #author_name: "auto-catalogue-updater"
          message: "Updating cwl ica config and catalogue files - (Autogenerated github actions commit)"
          # Don't push, we push manually in the next step if
          # push: false  - wait to fix autocomplete first
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Push config files
      - name: Push code
        id: git_push
        if: ${{ steps.commit_configuration_yaml_files.outputs.committed == 'true' }}
        run: |
          # For debugging purposes
          # Get current branch
          if [[ -n "${{ github.event.pull_request.head.ref }}" ]]; then
            # When its a pr even
            CURRENT_BRANCH="${{ github.event.pull_request.head.ref }}"
          elif [[ -n "${GITHUB_REF_NAME-}" ]]; then
            # Manual workflow
            CURRENT_BRANCH="${GITHUB_REF_NAME}"
          else
            echo "DEBUG: $(printenv | grep GITHUB_)"
            echo "Cannot get the ref name"
          fi

          # Pull first (might have had another action complete a commit)
          # Pretend to pull
          echo git pull --rebase origin "${CURRENT_BRANCH}"

          # Then push
          # Pretend to push
          echo git push origin "${CURRENT_BRANCH}"